# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Fisiere compilate Java
*.class
*.log
*.jar
*.war

# OS
Thumbs.db
.DS_Store

# AI
__pycache__/
*.py[cod]
*$py.class
.venv/
*.pth

ai/installed.txt
ai/shards/
ai/output/